3.Donnees
1.Dictionnaires_Variables
.env
init.R
init_dotenv.R
Ignore .RData files
*.RData
Ignore .html files
*.html
Ignore .Rdata files
*.Rdata
Ignore .xlsx files
*.xlsx
df_var_p_val_Choix_Var_Supp_sujet22.xlsx